.input-container {
  width: 100%;
}

.input-container__wrap {
  width: 100%;
  position: relative;
}

.input-container__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin-bottom: 4px;
  color: #747F9C;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding-left: 12px;
  background-color: #ffffff;
  border: 1px solid #DDE0E8;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;

  &:hover {
    
  }

  &:focus {
    color: #000000;
    border-color: #000000;
    outline: none;
    &::placeholder {
      color: #000000;
    }
  }
}

.input--error {
  border-color: red;
}

@media (max-width: 425px) {
  .input {
    height: 36px;
  }
}