@use "@/style/variables/color.scss" as color;
@use "@/style/variables/transition.scss" as transition;

.input-container {
  width: 100%;
}

.input-container__wrap {
  width: 100%;
  position: relative;
}

.input-container__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: start;
  margin-bottom: 4px;
  color: #747F9C;
}

.input {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 20px;
  background-color: #ffffff;
  border: 1px solid #DDE0E8;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #333333;

  &:hover {
    
  }

  &:focus {
    color: #000000;
    border-color: #000000;
    outline: none;
    &::placeholder {
      color: #000000;
    }
  }
}

.input--error {
  border-color: #FF3347;
}

.error {
  color: #FF3347;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0%;
}

@media (max-width: 425px) {
  .input {
    height: 36px;
  }
}

/* Анимация появления/исчезновения ошибки */
.fade-slide-enter-active,
.fade-slide-leave-active {
  transition: opacity transition.$medium, transform transition.$medium, max-height transition.$medium;
  overflow: hidden;
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-14px);
  max-height: 0;
}

.fade-slide-enter-to,
.fade-slide-leave-from {
  opacity: 1;
  transform: translateY(0);
  max-height: 100px;
}
