// Text
$colorTextPrimary: #333333;
$colorTextSecondary: #747F9C;
$colorTextTertiary: #A5ADBD;
$colorTextAcccent: #179C49;
$colorTextNegative: #E11717;
$colorTextWarning: #D67E01;
$colorTextWhite: #FFFFFF;

// Icons
$colorIconPrimary: #333333;
$colorIconSecondary: #747F9C;
$colorIconTertiary: #A5ADBD;
$colorIconAccent: #179C49;
$colorIconNegative: #E11717;
$colorIconWarning: #D67E01;
$colorIconWhite: #FFFFFF;

// Background
$colorBackgroundSecondary: #F5F5F5;
$colorBackgroundAccentAlternative: #DCFAE7;
$colorBackgroundNegativeTint: #FFEFEF;
$colorBackgroundWarning: #FFF7E3;
$colorBackgroundWhite: #FFFFFF;

// Stroke
$colorSeparator: #D5DCEB;
$colorFieldBorder: #E2E7F2;
$colorStrokeAccent: #2DBE64;
$colorStrokeNegative: #E11717;
$colorStrokeWhite: #FFFFFF;

// Palette
$colorBlack: #333333;
$colorAccentGreen: #2DBE64;
$colorAccentGray: #747F9C;
$colorAccentRed: #E11717;
$colorAccentOrange: #D67E01;
$colorWhite: #FFFFFF;

// States
$colorBackgroundAccent_Hover: #22A353;
$colorBackgroundAccentAlternative_Hover: #C0EDD0;
$colorBackgroundNegativeTint_Hover: #FEE2E2;
$colorBackgroundSecondary_Hover: #EBEBEB;
$colorBackgroundWhite_Hover: #F5F5F5;