* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

/* transition */
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}

.fade-enter-from, .fade-leave-to {
  opacity: 0;
}

.fadeFast-enter-active, .fadeFast-leave-active {
  transition: opacity .25s;
}
  
.fadeFast-enter-from, .fadeFast-leave-to {
  opacity: 0;
}